//Makes a media object that gives us flexable a reusable structure
//for list content with or without an image anchor.

// Read about this pattern here: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/

.Media {
    position: relative;
    overflow:hidden;
    _overflow:visible;
    zoom:1;

    .Media--disabled {
        opacity:.4;
        cursor: no-drop !important;
    }

    //wraps around all of the content next to the optional image anchor
    .Media-content {
        overflow: hidden;
        _overflow:visible;
        zoom:1;
        .title, .subheading, .body-2 {
            margin:0;
        }
    }

    // wraps around the date in a card
    .Media-date {
        @include captionText();
    }

    // Wraps around the description text within the content wrapper, typically on a p tag 
    .Media-description {
        max-width:700px;
    }

    // Wraps around the img tag to create the optional image anchor
    .Media-img {
        float:left; 
        margin-right:20px;
        img {
            display: block;
        }
    }

    .Media-imgTop {
        margin:0;
        float:none;
    }
}


// The card class is used on the same wrapper as the media class
// it can be reused without the media class.
.Card {
    border-radius: 3px;
    padding:20px;
    box-shadow: $shadow-1;
    background: white;

    .Media-footer {
        margin: 0 -20px -20px;
    }
}
