// Grey color values

$grey--xxdark: #52595E;
$grey--xdark: #58646E;
$grey--dark: #8C9296;
$grey--darkmid: #D1D5D9;
$grey--mid: #C9CED5;
$grey--lightmid: #D8DDE2;
$grey--light: #E5E7EA;
$grey--xlight: #EFF1F2;
$grey--xxlight: #F7F8F8;

//Shadow Effects

$shadow-1: 0 1px 5px rgba(0,0,0,.29);
$shadow-2:0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24) ;
$shadow-2--focused: 0 5px 15px rgba(0,0,0,.5);
$shadow-1--inset: inset 0px 0px 6px 0px rgba(0,0,0,0.37);
